<%- include('../partials/head') %>
<%- include('../partials/rgpd-banner') %>
<%- include('../partials/nav', { active }) %>
<main id="main-content" tabindex="-1">
  <%- include('../partials/sections/hero_counter') %>
  <%- include('../partials/sections/apropos') %>
</main>
<%- include('../partials/footer') %>
